[Unit]
Description=pxf service
Requires=network.target

[Service]
Type=forking
WorkingDirectory=/usr/lib/pxf
User=pxf
Group=pxf
ExecStart=/usr/lib/pxf/bin/pxf start
ExecStop=/usr/lib/pxf/bin/pxf stop
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
